.modalActive {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.modalDisActive {
    opacity: 0;
    pointer-events: none;
}

.modalContentActive {
    transform: scale(1);
    transition: 0.4s all;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.modalContentDisActive {
    transform: scale(0.5);
}

.modalCardContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
}

.leftPart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background: rgba(31, 42, 99, 1) 45%;
    border-radius: 16px 0px 0px 16px;
    padding: 20px;
    width: 300px;
}

.modalCardImg {
    background-size: cover;
    width: 100%;
    margin-bottom: 10px;
}

.modalCardBoxContainerLeft {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    font-style: bold;
    font-weight: 400;
    font-size: 15px;
    color: #212121;
}

.modalCardGender {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    padding: 2px 10px;
}

.modalCardBirthYear {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    background: #07D6F2;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    padding: 2px 10px;
}

.rightPart {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #17002F 42.19%, #1F2A63 100%);
    border-radius: 0px 16px 16px 0px;
    padding: 30px 100px 25px 15px;
}

.modalWindowClose {
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: -50px;
    cursor: pointer;
}

.modalCardName {
    display: flex;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FDFDFD;
    text-align: center;
    margin-bottom: 23px;
}

.cardBoxAbilities {
    background: #FDFDFD;
    padding: 15px 60px 15px 20px;
    border-radius: 8px;
    margin-bottom: 75px;
}

.cardHeight {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 35px;
    height: 35px;
    border: 3px solid #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}

.cardMass {
    width: 35px;
    height: 35px;
    border: 3px solid #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}

.modalCardBoxContainerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardCounterBoxHeigth {
    background-color: white;
    margin-right: 20px;
    padding: 10px 25px;
    border-radius: 8px;
}

.cardCounterBoxMass {
    background-color: white;
    padding: 10px 25px;
    border-radius: 8px;
}

@media (max-width: 800px) {
    .modalCardName {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
    }

  }