.header {
  width: 100%;
  border-bottom: 1px solid rgba(163, 163, 163, 0.14);
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.headerNav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

@font-face {
  font-family: 'Karla';
  src: url(../../fonts/Karla-VariableFont_wght.ttf);
 }

.nav {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #F6F7F9;
  text-decoration: none;
  margin-right: 64px;
  padding-bottom: 15px;
}

.nav:last-child {
  margin-right: 0px;
}

li {
  list-style-type: none;
}

@media (max-width: 1240px) {
  .logo {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .nav:first-child {
    margin-right: 20px;
  }
}