.header {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
  }
  
  .headerNav {
    padding: 33px 0;
  }

  .nav {
    color: #F6F7F9;
    text-decoration: none;
    margin-right: 74px;
  }