.header {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  border-bottom: 1px solid gray;
}

.headerNav {
  padding: 20px 0;
}

.nav {
  color: #F6F7F9;
  text-decoration: none;
  margin-right: 74px;
}

li {
  list-style-type: none;
}