.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 0, 47, 1);
    padding: 150px 20px;
    width: 100%;
}

.error {
    margin-bottom: 150px;
}

.DeadthStar {
    position: absolute;
    top: 20px;
    padding: 50px 250px;
}

.button {
    color: rgba(33, 33, 33, 1);
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;
    background: #73D677;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    padding: 17px 79px 22px 78px;
    text-decoration: none;
}

.button:hover {
    color: #ffffff;
    background-color: #020673;
    border: 2px solid #0169b4;
    transition: .3s;
}

@media (max-width: 1280px) {
    .error img {
        width: 100%;
    }

    .DeadthStar img {
        width: 100%;
    }

    .error {
        margin-bottom: 250px;
    }
}

@media (max-width: 990px) {
    .DeadthStar img {
        padding-right: 200px;
    }
}