.appContainer {
  width: 1283px;
  padding: 0 127px;
  margin: 0 auto;
  background: linear-gradient(180deg, #1F2A63 0%, #17002F 100%);
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}

.divider {
  height: 3px;
  background-color: rgba(163, 163, 163, 0.14);
  border: none;
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  right: 0;
}
