.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #FFFFFF 30.32%, #F5F5F5 100%);
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100vh;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../../fonts/SourceSansPro-Regular.ttf);
}

.language {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 30px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
}

@font-face {
  font-family: 'Karla';
  src: url(../../fonts/Karla-VariableFont_wght.ttf);
}

.peoples {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 20px;
}

.colorEyeSelect {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 28px;
}

.containerCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.changeButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.paginationBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.notFound {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 900;
  color: #1f255d;
}

@media (max-width: 768px) {
  .peoples {
    text-align: center;
  }

  .containerCard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .containerCard {
    grid-template-columns: repeat(1, 1fr);
  }
}